<!-- <nav class="navbar navbar-expand-lg bg-shaded" [ngClass]="{'fixed-top': fixedNav == true}">
  <a class="navbar-brand" href="accueil"><img src="assets/img/funga.png" alt="" class="nav-img" ></a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="presentation">Qui sommes nous ?</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="projets">Projets web</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="exemples">Exemples</a>
      </li>
    <li class="nav-item">
      <a class="nav-link" href="contact">Contactez nous</a>
    </li>
    </ul>
  </div>
</nav> -->

<!--Navbar-->
<mdb-navbar id="mainMenu" SideClass="navbar navbar-expand-lg bg-shaded" [ngClass]="{'fixed-top': fixedNav == true, 'white-text': fixedNav == true}" [containerInside]="false">

  <!-- Navbar brand -->
  <logo>
    <a class="navbar-brand" href="accueil">
      <img src="assets/img/funga.png" alt="" class="nav-img">
    </a>
  </logo>

  <!-- Collapsible content -->
  <links>

    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="presentation" [ngClass]="{'black-text': fixedNav != true, 'white-text': fixedNav == true }" >Qui sommes nous ?</a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" href="projets" [ngClass]="{'black-text': fixedNav != true, 'white-text': fixedNav == true }" >Projets web</a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link" href="exemples" [ngClass]="{'black-text': fixedNav != true, 'white-text': fixedNav == true }" >Exemples</a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" href="contact" [ngClass]="{'black-text': fixedNav != true, 'white-text': fixedNav == true }" >Contactez nous</a>
      </li> -->
    </ul>


  </links>
  <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->