<div class="presentation-container">
  <div class="photo-aaron" (mouseenter)="aaron = 'active'" (mouseleave)="aaron = 'inactive'">
    <div class="description-aaron" [@fader]="aaron">
      <h2>Aaron Hartnell, développeur web full-stack</h2>
      <h4>Description</h4>
      <p>Bonjour, mon nom est Aaron Hartnell. Je suis un auto-entrepreneur franco-anglais spécialisé et passioné dans le développement
        web full-stack. Mon cursus professionnel et universitaire avec un master en géomatique m'ont apporté des clés solides pour
        répondre aux problématiques que peut avoir un site web à fonctionnalités complexes. La performance et la structure du code et de la
        base de données sont mes priorités lorsque je développe afin d'obtenir une performance optimale lors de la mise en ligne
        de votre site web et de la vitesse de son chargement. </p>
      <p>Avide de connaitre les dernières avancées sur le web, je cherche toujours les nouvelles technologies pour les sites web de
        demain. Je priviligie toujours l'écoute du client et me concentre à apporter la meilleure solution en fonction de son budget
        et objectif. Etant bilingue anglais/français je peux aussi traduire votre site dans la langue de Shakespeare.</p>
      <p>Je suis actuellement basé dans le Golfe du Morbihan mais je n'hésite pas à me déplacer si c'est nécessaire.</p>
      <h4>Langages et librairies utilisés</h4>
      <ul>
        <li>Angular 2/6, Node.js, Express</li>
        <li>Symfony 3</li>
        <li>OpenLayers 4, Leaflet</li>
        <li>D3.js, Charts.js</li>
        <li>JQuery</li>
        <li>Bootstrap 4, CSS GRID</li>
        <li>MySQL, PostreSQL</li>
        <li>MongoDB</li>
        <li>...</li>
      </ul>
      <h4>Contact</h4>
      Email: <a href="mailto:aaronleehartnell@gmail.com">aaronleehartnell@gmail.com</a><br/>
      Téléphone: <a href="tel:+262 6 39 09 27 62">+262 6 39 09 27 62</a>
    </div>
  </div>
  <div class="photo-louis" (mouseenter)="louis = 'active'" (mouseleave)="louis = 'inactive'">
    <div class="description-louis" [@fader]="louis">
      <h2>Aaron Hartnell, développeur web full-stack</h2>
      <h4>Description</h4>
      <p>Bonjour, mon nom est Aaron Hartnell. Je suis un auto-entrepreneur franco-anglais spécialisé et passioné dans le développement
        web full-stack. Mon cursus professionnel et universitaire avec un master en géomatique m'ont apporté des clés solides pour
        répondre aux problématiques que peut avoir un site web à fonctionnalités complexes. La performance et la structure du code
        et de la base de données sont mes priorités lorsque je développe afin d'obtenir une performance optimale lors de la mise
        en ligne de votre site web et de la vitesse de son chargement. </p>
      <p>Avide de connaitre les dernières avancées sur le web, je cherche toujours les nouvelles technologies pour les sites web de
        demain. Je priviligie toujours l'écoute du client et me concentre à apporter la meilleure solution en fonction de son budget
        et objectif. Etant bilingue anglais/français je peux aussi traduire votre site dans la langue de Shakespeare.</p>
      <p>Je suis actuellement basé dans le Golfe du Morbihan mais je n'hésite pas à me déplacer si c'est nécessaire.</p>
      <h4>Langages et librairies utilisés</h4>
      <ul>
        <li>Angular 2/6, Node.js, Express</li>
        <li>Symfony 3</li>
        <li>OpenLayers 4, Leaflet</li>
        <li>D3.js, Charts.js</li>
        <li>JQuery</li>
        <li>Bootstrap 4, CSS GRID</li>
        <li>MySQL, PostreSQL</li>
        <li>MongoDB</li>
        <li>...</li>
      </ul>
      <h4>Contact</h4>
      Email:
      <a href="mailto:aaronleehartnell@gmail.com">aaronleehartnell@gmail.com</a>
      <br/> Téléphone:
      <a href="tel:+262 6 39 09 27 62">+262 6 39 09 27 62</a>
    </div>
  </div>
</div>