<!-- HTML -->
<section id="slide-1" class="homeSlide">
  <div class="bcg" data-start="background-position: 50% 0px;" data-top-bottom="background-position: 50% -100px;" data-anchor-target="#slide-1">
    <div class="hsContainer">
      <div class="hsContent pagetitle" data-start="top:500px;opacity: 1;" data-500-start="opacity: 1;top:800px" data--200-top="opacity: 0;top:800px" data-anchor-target="#slide-1 h2">
        <div class="texttitle">
          <h1>FUNGA, développeurs web fullstack</h1>
          <h2>Louis et Aaron créeront votre site selon vos envies</h2>
        </div>
        <div  class="titleshadow2" >&nbsp;</div>
      </div>
    </div>
    
    <div class="bulle" data-200-top="left:15%;bottom:5%;opacity:1;transform:scale(1)" data-1000-bottom="bottom:110%;opacity:0;transform:scale(0.1)" >
      <!--<div class="bulle" data-top-bottom="left:35%;bottom[cubic]:100%;height:2000px" data-100-bottom="left: 60%;bottom:0%;height:0px"> -->
      <div class="bulletitle">
        HTML 5
      </div>
      <div class="bulleshadow">&nbsp;</div>
    </div>
    <div class="bulle" data-220-top="left:25%;bottom[quadratic]:0%;" data-600-bottom="bottom:100%;" >
      <div class="bulletitle">
        ANGULAR 6
      </div>
      <div class="bulleshadow" data-200-top="box-shadow:0px 0px 80px 50px rgb(255,255,255);" data-600-bottom="box-shadow:0px 0px 60px 0px rgb(255,255,0);">&nbsp;</div>
    </div>
    <div class="bulle" data-200-top="left:75%;bottom[quadratic]:5%;" data-600-bottom="bottom:120%;" >
    <!-- <div class="bulle" data-500-top="left:75%;bottom[quadratic]:0%;transform:scale(1) rotate(1440deg);opacity:1;" data-300-bottom="left:85%;bottom:100%;transform:scale(0.1) rotate(3240deg);opacity:0;" > -->
      <div class="bulletitle">
        PHP 7
      </div>
      <div class="bulleshadow" data-200-top="box-shadow:0px 0px 80px 50px rgb(255,255,255);" data-600-bottom="box-shadow:0px 0px 60px 0px rgb(0,255,255);">&nbsp;</div>
    </div>
    <div class="bulle" data-200-top="left:85%;bottom:10%;" data-600-bottom="bottom:60%;" >
    <!-- <div class="bulle" data-200-top="left:90%;bottom[cubic]:0%;" data-200-bottom="left: 10%;bottom:50%;"> -->
      <div class="bulletitle">
        CSS 3
      </div>
      <div class="bulleshadow" data-200-top="box-shadow:0px 0px 100px 50px rgb(150,150,0);" data-200-bottom="box-shadow:0px 0px 60px 10px rgb(255,200,200);">&nbsp;</div>
    </div>
  </div>
</section>
<!-- <hr data-300="background-color:rgb(0,0,255);transform:rotate(0deg);bottom:0%;" data-500="background-color:rgb(255,0,0);transform:rotate(360deg);bottom[quadratic]:100%;" data-600="width:2%;" data-800="width:100%;" style="position:relative; margin: auto; width:2%"/> -->
<!-- <hr data-0="background-color:rgb(0,0,255);transform[bounce]:rotate(0deg);" data-500="background-color:rgb(255,0,0);transform[bounce]:rotate(360deg);"/>
<div style="position:relative;" data-0="left:0px;" data-100="left:100px;">bacon</div>
<div data-100="background-color:rgb(0,0,255);left:0%;" data-200="top:0%;" data-300="left:50%;" data-400="background-color:rgb(255,0,0);top:50%;" style="position:relative; width:20%">1111</div>
<div data-100="background-color:rgb(255,0,0);left:0%;top:0%;" data-100="left:0%;top:0%;" data-300="background-color:rgb(0,0,255);left:50%;top:0%;" data-400="left:50%;top:50%;" style="position:relative; width:20%">22222</div>
-->
<section id="slide-2">
  <div class="center py-3">
    <h1 style="position:relative;" data-100-bottom="left:-2000px;" data--100-bottom="left:0px;">Nos services</h1>
  </div>
  <div class="row mx-1 justify-content-md-center">
    <div style="position:relative;" data-100-bottom="left:-2000px;" data--200-bottom="left:0px;" class="col-sm-6 col-xl-3 mb-4">
      <div class="card h-100">
        <div class="card-body">
            <div class="icon-title"><i class="fas fa-flask"></i></div>
            <h4 class="card-title"><span>Recherche et personnalisation</span></h4>
          Nous recherchons les meilleures solutions et alternatives afin que votre site soit au dessus de la concurrence (TOBETTER).
        </div>
      </div>
    </div>
    <div style="position:relative;" data-100-bottom="left:-2000px;" data--100-bottom="left:0px;"  class="col-sm-6 col-xl-3 mb-4">
      <div class="card h-100">
        <div class="card-body">
          <div class="icon-title"><i class="fas fa-pencil-alt"></i></div>
          <h4 class="card-title"><span>Conception et design</span></h4>
          Nous valorisons une structure simple, avec un design propre adapté à tous types d'écrans ainsi qu'une intéractivité dynamique avec l'utilisateur.
        </div>
      </div>
    </div>
    <div style="position:relative;" data-100-bottom="left:-2000px;" data--10-bottom="left:0px;"  class="col-sm-6 col-xl-3 mb-4">
      <div class="card h-100">
        <div class="card-body">
          <div class="icon-title"><i class="fas fa-code"></i></div>
          <h4 class="card-title"><span>Développement</span></h4>
          Nous adoptons les langages et librairies en fonction de votre besoin afin d'optimiser une ergonomie optimale.
        </div>
      </div>
    </div>
    <div class="w-100 d-none d-xl-block"></div>
    <div style="position:relative;" data-100-bottom="left:-2000px;" data--200-bottom="left:0px;"  class="col-sm-6 col-xl-3 mb-4">
      <div class="card h-100">
        <div class="card-body">
          <div class="icon-title"><i class="fas fa-cloud"></i></div>
          <h4 class="card-title"><span>Mise en ligne</span></h4>
          Nous vous proposons de gérer la mise en ligne de votre site et son hébergement sur nos serveurs. 
        </div>
      </div>
    </div>
    <div style="position:relative;" data-100-bottom="left:-2000px;" data--100-bottom="left:0px;"  class="col-sm-6 col-xl-3 mb-4">
      <div class="card h-100">
        <div class="card-body">
          <div class="icon-title"><i class="fas fa-cogs"></i></div>
          <h4 class="card-title"><span>Maintenance</span></h4>
          Nous assurons une maintenance régulière pour votre site web et adaptons les prérequis machine pour répondre à une qualité de navigation optimale pour vos clients (TOBETTER).
        </div>
      </div>
    </div>
    <div style="position:relative;" data-100-bottom="left:-2000px;" data--10-bottom="left:0px;"  class="col-sm-6 col-xl-3 mb-4">
      <div class="card h-100">
        <div class="card-body">
          <div class="icon-title"><i class="fas fa-search"></i></div>
          <h4 class="card-title"><span>Référencement</span></h4>
          Nous développons votre site afin que son référencement soit optimiser dans les moteurs de recherches principaux.
        </div>
      </div>
    </div>
  </div>
</section>

<section id="slide-3" class="homeSlide">
  <div class="bcg" data-center="background-position: 50% 0px;" data-bottom-top="background-position: 50% 300px;" data-top-bottom="background-position: 50% -300px;" data-anchor-target="#slide-3">
    <div class="center">
      <h1 class="devs-title" >Nos derniers développements</h1>
      <div  class="titleshadow2" >&nbsp;</div>
    </div>
    <div class="card-container row">
      <div class="col-sm-4">
        <div class="card project-card">
          <div class="img-container">
            <img class="cadre-top" src="assets/img/projects/cadre.png" alt="Card image cap">
            <div  class="img-top" style="background-color: black;display: flex;">
              <img style="margin:auto;" data--100-bottom="width: 0%;height: 0%;" data--250-bottom="width: 100%;height: 1%;" data--300-bottom="height: 100%;" src="assets/img/projects/tsiono.png" alt="Card image cap">
            </div>
          </div>
          <div class="card-body">
            <h4 class="card-title"><a>Tsiono</a></h4>
            <h5>Description</h5>
            <p class="card-text">
              Site de sciences participatives pour la récolte de données de macrofaune marine Mahoraise, 
              leur administration et la visualisation des résultats par les utlisateurs intéressés. 
            </p>
            <h5>Spécificités</h5>
            <ul>
              <li>Cartographie intéractive</li>
              <li>Panneau d'aministration pour la gestion des données et leur export</li>
              <li>Enregistrement de médias photographiques</li>
            </ul>
            <h5>Technologies utilisées</h5>
              <ul>
                <li>ExtJS 4</li>
                <li>Bootstrap 3</li>
                <li>OpenLayers 2</li>
                <li>Serveur PHP</li>
              </ul>
            <h5>Client</h5>
            <img src="assets/img/projects/clients/PNMM.png" alt="logo_pnmm" class="logo-clients" > Parc naturel Marin de Mayotte
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card project-card">
          <div class="img-container">
            <img class="cadre-top" src="assets/img/projects/cadre.png" alt="Card image cap">
            <!-- <img class="img-top" src="assets/img/projects/open.png" alt="Card image cap"> -->
            <div  class="img-top" style="background-color: black;display: flex;">
              <img style="margin:auto;" data--140-bottom="width: 0%;height: 0%;" data--290-bottom="width: 100%;height: 1%;" data--330-bottom="height: 100%;" src="assets/img/projects/open.png" alt="Card image cap">
            </div>
          </div>
          <div class="card-body">
            <h4 class="card-title"><a>Open Sciences Participatives</a></h4>
            <h5>Description</h5>
            <p class="card-text">
              Portail de sciences participatives laissant la possibilité aux utilisteurs de se renseigner et naviguer entre les différents projets de sciences participatives existants en France. Les professionnels et animateurs de ces projets peuvent gérer leurs contenus et publier différentes ressources tels qu'événements, actualités, description du projet, vidéos, images, pdf ...
            </p>
            <h5>Spécificités</h5>
            <ul>
              <li>Cartographie intéractive</li>
              <li>Panneau d'aministration pour la gestion des données, édition de pages et contenus</li>
              <li>Enregistrement de médias photographiques, vidéos et PDF</li>
              <li>Système d'inscription et de gestion d'utilisateurs</li>
              <li>Gestion de contenus par les utilisateurs incrits</li>
            </ul>
            <h5>Technologies utilisées</h5>
            <ul>
              <li>Symfony 3</li>
              <li>Bootstrap 3</li>
              <li>Sonata Admin</li>
              <li>OpenLayers 4</li>
            </ul>
            <h5>Client</h5>
            <img src="assets/img/projects/clients/MNHN.png" alt="logo_pnmm" class="logo-clients"> Muséum National des Histoires Naturelles
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section style="position:relative;" data-100-bottom="left:-2000px;" data--100-bottom="left:0px;">
  <app-contact-form></app-contact-form>
</section>