<!-- HTML -->
<section id="slide-1" class="homeSlide">
  <div class="bcg" data-start="background-position: 50% 0px;" data-top-bottom="background-position: 50% -100px;" data-anchor-target="#slide-1">
    <div class="hsContainer">
      <div class="hsContent pagetitle">
        <div class="texttitle">
          <h1>FUNGA, {{title}}</h1>
          <div  class="titleshadow2" >&nbsp;</div>
          <h3>{{subtitle}}</h3>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="slide-2">
  <div class="center py-3">
    <h1>Nos services</h1>
  </div>
  <div #ourServices [@slideOnScroll]="ourServicesState" class="row mx-1 justify-content-md-center">
    <div class="col-sm-6 col-xl-3 mb-4" [@ourServiceAnimation]="ourServicesState">
      <div class="card h-100">
        <div class="card-body">
            <div class="icon-title"><i class="fas fa-flask"></i></div>
            <h4 class="card-title"><span>Recherche et personnalisation</span></h4>
          <!-- Nous recherchons les meilleures solutions et alternatives afin que votre site soit au dessus de la concurrence (TOBETTER).-->
          Nous proposons les meilleures solutions en réponse à vos besoins avec une personnalisation sans limites afin que votre site soit au dessus de la concurrence. 
        </div>
      </div>
    </div>
    <div  class="col-sm-6 col-xl-3 mb-4" [@ourServiceAnimation]="ourServicesState">
      <div class="card h-100">
        <div class="card-body">
          <div class="icon-title"><i class="fas fa-pencil-alt"></i></div>
          <h4 class="card-title"><span>Conception et design</span></h4>
          <!--Nous valorisons une structure simple, avec un design propre adapté à tous types d'écrans ainsi qu'une intéractivité dynamique avec l'utilisateur.-->
          Nous valorisons une structure simple, avec un design esthétique s'ajustant à tous types d'écrans ainsi qu'une ergonomie fluide et intuitive, adapté à votre public.
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-xl-3 mb-4" [@ourServiceAnimation]="ourServicesState">
      <div class="card h-100">
        <div class="card-body">
          <div class="icon-title"><i class="fas fa-code"></i></div>
          <h4 class="card-title"><span>Développement</span></h4>
          <!--Nous adoptons les langages et librairies en fonction de votre besoin afin d'optimiser une ergonomie optimale.-->
          Nous adoptons les langages et librairies en fonction de votre besoin afin d'optimiser l'efficience de votre site.
        </div>
      </div>
    </div>
    <div class="w-100 d-none d-xl-block"></div>
    <div  class="col-sm-6 col-xl-3 mb-4" [@ourServiceAnimation]="ourServicesState">
      <div class="card h-100">
        <div class="card-body">
          <div class="icon-title"><i class="fas fa-cloud"></i></div>
          <h4 class="card-title"><span>Mise en ligne</span></h4>
          <!--Nous vous proposons de gérer la mise en ligne de votre site et son hébergement sur nos serveurs.-->
          Nous vous proposons de gérer l'hébergement et le déploiement de votre site.
        </div>
      </div>
    </div>
    <div  class="col-sm-6 col-xl-3 mb-4" [@ourServiceAnimation]="ourServicesState">
      <div class="card h-100">
        <div class="card-body">
          <div class="icon-title"><i class="fas fa-cogs"></i></div>
          <h4 class="card-title"><span>Maintenance</span></h4>
          <!--Nous assurons une maintenance régulière pour votre site web et adaptons les prérequis machine pour répondre à une qualité de navigation optimale pour vos clients (TOBETTER).-->
          Nous restons à votre disposition pour assurer l'entretien et le bon fonctionnement de votre site sur la durée.
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-xl-3 mb-4" [@ourServiceAnimation]="ourServicesState">
      <div class="card h-100">
        <div class="card-body">
          <div class="icon-title"><i class="fas fa-search"></i></div>
          <h4 class="card-title"><span>Référencement</span></h4>
          <!--Nous développons votre site afin que son référencement soit optimiser dans les moteurs de recherches principaux.-->
          Nous développons votre site afin que son référencement soit au plus haut dans les moteurs de recherches.
        </div>
      </div>
    </div>
  </div>
</section>

<section id="slide-3" class="homeSlide">
  <div class="bcg" data-start="background-position: 50% 0px;" data-top-bottom="background-position: 50% -100px;" data-anchor-target="#slide-3">
    <div class="center">
      <h1 class="devs-title" >Nos derniers développements</h1>
      <div  class="titleshadow2" >&nbsp;</div>
    </div>
    <div class="card-container row">
      <div class="card-sizer col-lg-4 col-md-6 col-sm-12">
        <div class="card project-card">
          <div class="img-container">
            <a href="https://tsiono.fr/">
              <img class="cadre-top" src="assets/img/projects/cadre.png" alt="Card image cap">
              <div  class="img-top" style="background-color: black;display: flex;">
                <img style="margin:auto;" data-0-bottom="width: 0%;height: 0%;" data--100-bottom="width: 100%;height: 1%;" data--150-bottom="height: 100%;" src="assets/img/projects/tsiono.png" alt="Card image cap">
              </div>
            </a>
          </div>
          <div class="card-body">
            <h4 class="card-title"><a href="https://tsiono.fr/">Tsiono</a></h4>
            <h5>Description</h5>
            <p class="card-text">
              Site de sciences participatives pour la récolte de données de macrofaune marine Mahoraise, 
              leur administration et la visualisation des résultats par les utlisateurs intéressés. 
            </p>
            <h5>Spécificités</h5>
            <ul>
              <li>Cartographie intéractive</li>
              <li>Panneau d'aministration pour la gestion des données et leur export</li>
              <li>Enregistrement de médias photographiques</li>
            </ul>
            <h5>Technologies utilisées</h5>
              <ul>
                <li>ExtJS 4</li>
                <li>Bootstrap 3</li>
                <li>OpenLayers 2</li>
                <li>Serveur PHP</li>
              </ul>
            <h5>Client</h5>
            <img src="assets/img/projects/clients/PNMM.png" alt="logo_pnmm" class="logo-clients" > Parc naturel Marin de Mayotte
          </div>
        </div>
      </div>
      <div class="card-sizer col-lg-4 col-md-6 col-sm-12">
        <div class="card project-card">
          <div class="img-container">
            <a href="http://www.open-sciences-participatives.org">
              <img class="cadre-top" src="assets/img/projects/cadre.png" alt="Card image cap">
              <!-- <img class="img-top" src="assets/img/projects/open.png" alt="Card image cap"> -->
              <div  class="img-top" style="background-color: black;display: flex;">
                <img style="margin:auto;" data--50-bottom="width: 0%;height: 0%;" data--200-bottom="width: 100%;height: 1%;" data--240-bottom="height: 100%;" src="assets/img/projects/open.png" alt="Card image cap">
              </div>
            </a>
          </div>
          <div class="card-body">
            <h4 class="card-title"><a href="http://www.open-sciences-participatives.org">Open Sciences Participatives</a></h4>
            <h5>Description</h5>
            <p class="card-text">
              Portail de sciences participatives laissant la possibilité aux utilisteurs de se renseigner et naviguer entre les différents projets de sciences participatives existants en France. Les professionnels et animateurs de ces projets peuvent gérer leurs contenus et publier différentes ressources tels qu'événements, actualités, description du projet, vidéos, images, pdf ...
            </p>
            <h5>Spécificités</h5>
            <ul>
              <li>Cartographie intéractive</li>
              <li>Panneau d'aministration pour la gestion des données, édition de pages et contenus</li>
              <li>Enregistrement de médias photographiques, vidéos et PDF</li>
              <li>Système d'inscription et de gestion d'utilisateurs</li>
              <li>Gestion de contenus par les utilisateurs incrits</li>
            </ul>
            <h5>Technologies utilisées</h5>
            <ul>
              <li>Symfony 3</li>
              <li>Bootstrap 3</li>
              <li>Sonata Admin</li>
              <li>OpenLayers 4</li>
            </ul>
            <h5>Client</h5>
            <img src="assets/img/projects/clients/MNHN.png" alt="logo_pnmm" class="logo-clients"> Muséum National des Histoires Naturelles
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section style="position:relative;">
  <app-contact-form></app-contact-form>
</section>