/* CSS */

@import './../../colors.scss';

section{
  overflow: hidden;
}

.hsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.hsContent {
  vertical-align: middle;
  color: $main-color;
  text-align: center;
  // background-color: rgba(0, 0, 0, .5);
  // border-radius: 100px;
  // border-left: 0px;
}

.bcg {
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.titleshadow{
  height: 0px;
  position: relative;
  top:-55px;
  box-shadow: 0px 0px 150px 30px rgba(0,0,0,1);
  z-index: 10;
}
.titleshadow2{
  height: 8px;
  position: relative;
  z-index: 10;
  background-color: rgba(255,255,255,0.2); 
  max-width: 900px;
  margin: 0 auto 0 auto;
}
.titleshadow3{
  height: 10px;
  position: relative;
  border-radius: 10px;
  box-shadow: 0px 0px 150px 30px rgba(0,0,0,1);
  z-index: 10;
}
.texttitle{
  z-index: 11;
  position: relative;
  filter: drop-shadow(0 0 20px black);
}

.pagetitle{
  display: block;
}

/* Slide 1 */

#slide-1 .bcg {
  background-image: url("/assets/img/bg1.JPG")
}

#slide-3 .bcg {
  background-image: url("/assets/img/bg2.JPG")
}

#slide-3 .hscontainer {
  text-align: center;
}

.card-title {
  text-align: center;
}

h4 span {
  background: #fff;
  padding: 0 10px;
}

.icon-title {
  text-align: center;
  font-size: 40px;
}

h4 a {
  background: white;
  padding: 0 10px;
}

.vertical-center {
  vertical-align: middle;
  height: 100%;
}

.img-container {
  position: relative;
  top: 0;
  left: 0;
}

.cadre-top {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
}

.img-top {
  position: absolute;
  object-fit: cover;
  top: 8.5%;
  left: 15.4%;
  width: 68%;
  height: 59%;
}

.logo-clients {
  height: 80px;
}

.project-card {
  height: 100% !important;
}

.card-sizer {
  margin-bottom: 10px;
}

.card-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.devs-title {
  padding-top: 20px;
    color: white;
    position: relative;
    z-index: 11;
    margin: auto;
}

.card-body {
  text-align: justify !important;
  text-justify: inter-word;
}